table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #f4f8ff;
  color: #333;
  font-family: Arial, sans-serif;
  border: 2px solid #444;
}

th {
  background-color: #cce5ff;
  color: #000;
  padding: 10px;
  border: 1px solid #444;
}

td {
  padding: 10px;
  border: 1px solid #444;
}

tr:hover {
  background-color: #e6f2ff;
  cursor: pointer;
}
